<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Dice Random</title>
    <link rel="stylesheet" href="/css/cssDie.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
</head>
<body>


<h3 style="text-align: center">Choose a number:</h3>
<div class="dieSelection">
    <a href="/roll-dice/0"><img class="dieChoice" th:src="@{${'/img/die1.png'}}"/></a>
    <a href="/roll-dice/1"><img class="dieChoice" th:src="@{${'/img/die2.png'}}"/></a>
    <a href="/roll-dice/2"><img class="dieChoice" th:src="@{${'/img/die3.png'}}"/></a>
    <a href="/roll-dice/3"><img class="dieChoice" th:src="@{${'/img/die4.png'}}"/></a>
    <a href="/roll-dice/4"><img class="dieChoice" th:src="@{${'/img/die5.png'}}"/></a>
    <a href="/roll-dice/5"><img class="dieChoice" th:src="@{${'/img/die6.png'}}"/></a>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>